<div class="card mb-3">
    <div class="row">
        <div class="col md-3">
            <img src="assets/MovieAppIMG/HizliveOfkeli.jpeg" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col md-9">
            <div class="card-body">
                <h2 class="cart-title">Hızlı ve Öfkeli 9</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eligendi, nam asperiores quibusdam unde autem beatae sequi recusandae eos earum explicabo voluptatibus? Error quasi culpa repellat accusantium, eaque id nobis.</p>
                <button class="btn btn-sm btn-outline-primary">Details</button>
            </div>
        </div>
    </div>
</div>
